// Colors
$arrow-down-bg: #000;
$arrow-down-color: #fff;
$discription-content: #b7c3bb;
$discription-text-color: #7f8183;
$shadow-box: rgba(0, 0, 0, 0.1);
$shop-card-header: #fff;
$shop-card-content: #000;
$free-panel-header-bg: #cd5c5c;
$bronze-panel-header-bg: #b08d57;
$silver-panel-header-bg: #808080;
$gold-panel-header-bg: #d4af37;
$footer-bg: #f6f5f5;
$footer-nav-content: #000;
$footer-designer-content: #6950b8;
